<h1 class="align-center">Create your answer below</h1>
<form action="/answer" method="post" id="answer_form">
<div class="branch-four">
<input type="password" name="answer" class="answer" placeholder="my answer" autofocus="true">
</div>
<div class="branch-two">
<input type="password" name="answer_comfirmation" class="answer-confirm" placeholder="my answer confirmation" >
</div>
<div class="branch-one">
<select name="level">
  <option value="easy">Easy (18 lives per game)</option>
  <option value="medium">Medium (13 lives per game)</option>
  <option value="hard">Hard (9 lives per game)</option>
</select>
</div>
<div class="branch-three">
<input type="submit" value="Submit" class='button'>
</div>
</form>