<br />
<h1>Create your answer below:</h1>
<form action="/answer" method="post">
<p>
<input type="password" name="answer" placeholder="own answer" autofocus="true">
</p>
<p>
<input type="password" name="answer_comfirmation" placeholder="own answer confirmation" >
</p>
<p> 
<select name="level">
  <option value="easy">Easy</option>
  <option value="medium">Medium</option>
  <option value="hard">Hard</option>
</select>
</p>
<p>
<input type="submit" value="submit" class='button'>
</p>
</form>