<br />
<h1>Create your answer below:</h1>
<form action="/answer" method="post" onsubmit="return checkAnswer();">
<p>
<input type="password" name="answer" class="answer" placeholder="my answer" autofocus="true">
</p>
<p>
<input type="password" name="answer_comfirmation" class="answer-confirm" placeholder="my answer confirmation" >
</p>
<p> 
<select name="level">
  <option value="easy">Easy (18 lives per game)</option>
  <option value="medium">Medium (13 lives per game)</option>
  <option value="hard">Hard (9 lives per game)</option>
</select>
</p>
<p>
<input type="submit" value="Submit" class='button'>
</p>
</form>