<h1 class="align-center">Select game difficulty</h1>

<div class="branch-one">
  <a class="button black_wrap" href="/game_level?level=easy" > Easy </a>
</div>
<div class="branch-two"> 
  <a class="button black_wrap" href="/game_level?level=medium" > Medium </a>
</div>
<div class="branch-three">
  <a class="button black_wrap" href="/game_level?level=hard" > Hard </a>
</div>