<footer>
  <div >
   
  </div>
  <div id="technologies">
    <p>
      I built this page at OTB academy
    </p>
    <p>
      This website is built using Ruby, Sinatra, RSpec, Cucumber, HTML and CSS.
    </p>
  </div>
</footer>