<form action="/guess" method="post" onsubmit="return checkGuess();">
  <div class="branch-four">
    <input type="text" name="guess" placeholder="Enter letter or word" autofocus="true" class="guess">
  </div>
  <div class="branch-one">
   <a href="/game_end?giveup" class="button">Give up!</a> 
  </div>
</form>
