<div class="branch-one">
<a href="/game_level" class="add-link button highlighted">New game!</a>   
</div>
<div class="branch-two">
<a href="/answer" class="add-link button highlighted">Create answer!</a>
</div>
<div class="branch-three">
<a href="/help" class="add-link button highlighted">Help!</a>
</div>
