<header>
<div id="logo">
  <a href="/">Hangman</a> : <div class="dificulty">
  <%= game_dificulty %>
  </div>
</div>
 <a href="/game_level" class="add-link button highlighted">New game!</a>  
 <a href="/game_end?giveup" class="add-link button highlighted">Give up!</a>  
 <a href="/answer" class="add-link button highlighted">Create answer!</a>
  <div id="user-links">    
  </div>
 
</header>