<header>
<div id="logo">
  <a href="/">Hangman</a>
</div>
 <a href="/newgame" class="add-link button highlighted">New game!</a>  
 <a href="#" class="add-link button highlighted">Give up!</a>  
  <div id="user-links">    
  </div>
</header>