<h1 class="align-center">Welcome to hangman!</h1>
<br />
<p>To start playing the game - click "New game!"</p>
<p>Follow the instructions ...</p>
<p>To create your own answer - click "Create answer!"</p>
<p>Follow the instructions...</p>
<br />
Good Luck!
<%= partial :game_buttons %>
