<h1>Welcome to hangman!</h1>
<br />
<p>To start playing the game - click new game in menu!</p>
<p>Follow the instructions ...</p>
<p>To create your own answer - click create answer in menu!</p>
<p>Follow the instructions...</p>
<br />
Good Luck!